<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ECharts Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div echarts [options]="optionHeatmap" [autoResize]="true" class="demo-chart"></div>
  </ion-card>


  <ion-card>
    <div echarts [options]="options" [autoResize]="true" class="demo-chart"></div>

  </ion-card>

  <ion-card>
    <div echarts [options]="options2" [autoResize]="true" class="demo-chart"></div>
  </ion-card>

  <ion-card>
    <div echarts [options]="options3" [autoResize]="true" class="demo-chart"></div>
  </ion-card>


  <ion-card>
    <div echarts [options]="options4" [autoResize]="true" class="demo-chart"></div>
  </ion-card>

  <ion-card>
    <div echarts [options]="optionLineStacked" [autoResize]="true" class="demo-chart"></div>
  </ion-card>

  <ion-card>
    <div echarts [options]="faturamentoTotalOption" [autoResize]="true" class="demo-chart"></div>
  </ion-card>

  <ion-card>
    <div echarts [options]="gaugeOptions" [autoResize]="true" class="demo-chart"></div>
  </ion-card>
</ion-content>
